p {
    background-color: red;
}

#unico {
    background-color: blue;
}

.verde {
    background-color: rgb(47, 156, 32);
}

.color-texto-rojo {
    color: red;
}

.color-fuente-amarillo {
    background-color: yellow;
}

.color-fuente-celeste {
    background-color: #00ffff; 
}

.color-fuente-marron {
    background-color: rgb(153, 38, 0);
}

